<template>
  <div class="administracion">
   
     <!-- Situacion vigente -->
    <v-card :loading="loading" class="mx-auto my-0" dense>
      <template slot="progress">
        <v-progress-linear color="deep-purple" height="10" indeterminate></v-progress-linear>
      </template>

      <v-card-text>
        <v-row align="center" class="mx-0">
          <v-file-input class="v-btn v-size--default white" 
                          :rules="fileRules"
                          show-size
                          counter
                          accept=".csv .xls .xlsx"
                          placeholder="Subir archivo de situación vigente..."
                          v-model="fileExcelSV" 
                          @change="submitFileSV"
                          style="font-weight: bolder;font-size: larger;cursor:pointer!important;margin-top:20px;margin-left:-10px;text-align:left">
            </v-file-input> 
        </v-row>
        
        <!-- <div style="margin-top:20px">La base de datos permitira contar con información actualizada de los profesores.</div> -->
      </v-card-text>

      <v-divider class="mx-2"></v-divider>

      <!-- <v-card-title>Datos del archivo</v-card-title> -->
      <v-card-text>
        <v-chip-group v-model="selection" active-class="primary white--text" column>
          <v-chip outlined :color="svColor" >{{$store.state.database.dbSV.archivo}}</v-chip>
          <v-chip outlined :color="svColor" >{{$store.state.database.dbSV.archivoSize}}</v-chip>
          <v-chip outlined :color="svColor" > {{$store.state.database.dbSV.archivoTipo}}</v-chip>
          <v-chip outlined :color="svColor" >{{$store.state.database.dbSV.archivoUltimaFecha}}</v-chip>
          <v-chip>Registros: {{$store.state.database.dbSV.archivoRegistros}}</v-chip>
        </v-chip-group>
      </v-card-text>
    </v-card>


    <div style='height:10px'></div>
    <!-- Alfabetico -->
    <v-card :loading="loading" class="mx-auto my-0" dense>
      <template slot="progress">
        <v-progress-linear color="deep-purple" height="10" indeterminate></v-progress-linear>
      </template>

      <v-card-text>
        <v-row align="center" class="mx-0">
          <v-file-input class="v-btn v-size--default white" 
                          :rules="fileRules"
                          show-size
                          counter
                          accept=".csv .xls .xlsx"
                          placeholder="Subir archivo de alfabetico..."
                          v-model="fileExcelALF" 
                          @change="submitFileALF"
                          style="font-weight: bolder;font-size: larger;cursor:pointer!important;margin-top:20px;margin-left:-10px;text-align:left">
            </v-file-input> 
        </v-row>
        
        <!-- <div style="margin-top:20px">La base de datos permitira contar con información actualizada de losprofesores basada en el alfabetico.</div> -->
      </v-card-text>

      <v-divider class="mx-2"></v-divider>

      <!-- <v-card-title>Datos del archivo</v-card-title> -->
      <v-card-text>
        <v-chip-group v-model="selectionALF" active-class="primary white--text" column>
          <v-chip outlined :color="alfColor">{{$store.state.database.dbALF.archivo}}</v-chip>
          <v-chip outlined :color="alfColor">{{$store.state.database.dbALF.archivoSize}}</v-chip>
          <v-chip outlined :color="alfColor">{{$store.state.database.dbALF.archivoTipo}}</v-chip>
          <v-chip outlined :color="alfColor">{{$store.state.database.dbALF.archivoUltimaFecha}}</v-chip>
          <v-chip>Registros: {{$store.state.database.dbALF.archivoRegistros}}</v-chip>
        </v-chip-group>
      </v-card-text>

    </v-card>


    <div style='height:10px'></div>
    <!-- Profesores -->
    <v-card :loading="loading" class="mx-auto my-0" dense>
      <template slot="progress">
        <v-progress-linear color="deep-purple" height="10" indeterminate></v-progress-linear>
      </template>

      <v-card-text>
        <v-row align="center" class="mx-0">
          <v-file-input class="v-btn v-size--default white" 
                          :rules="fileRules"
                          show-size
                          counter
                          accept=".csv .xls .xlsx"
                          placeholder="Subir archivo de profesores..."
                          v-model="fileExcelPROF" 
                          @change="submitFilePROF"
                          style="font-weight: bolder;font-size: larger;cursor:pointer!important;margin-top:20px;margin-left:-10px;text-align:left">
            </v-file-input> 
        </v-row>
        
        <!-- <div style="margin-top:20px">La base de datos permitira contar con información actualizada de los profesores.</div> -->
      </v-card-text>

      <v-divider class="mx-2"></v-divider>

      <!-- <v-card-title>Datos del archivo</v-card-title> -->
      <v-card-text>
        <v-chip-group v-model="selectionPROF" active-class="primary white--text" column>
          <v-chip outlined :color="profColor">{{$store.state.database.dbPROF.archivo}}</v-chip>
          <v-chip outlined :color="profColor">{{$store.state.database.dbPROF.archivoSize}}</v-chip>
          <v-chip outlined :color="profColor">{{$store.state.database.dbPROF.archivoTipo}}</v-chip>
          <v-chip outlined :color="profColor">{{$store.state.database.dbPROF.archivoUltimaFecha}}</v-chip>
          <v-chip>Registros: {{$store.state.database.dbPROF.archivoRegistros}}</v-chip>
        </v-chip-group>
      </v-card-text>


    </v-card>

    <div style='height:10px'></div>
    <!-- Asignaturas -->
    <v-card :loading="loading" class="mx-auto my-0" dense>
      <template slot="progress">
        <v-progress-linear color="deep-purple" height="10" indeterminate></v-progress-linear>
      </template>

      <v-card-text>
        <v-row align="center" class="mx-0">
          <v-file-input class="v-btn v-size--default white" 
                          :rules="fileRules"
                          show-size
                          counter
                          accept=".csv .xls .xlsx"
                          placeholder="Subir archivo de asignaturas..."
                          v-model="fileExcelASIG" 
                          @change="submitFileASIG"
                          style="font-weight: bolder;font-size: larger;cursor:pointer!important;margin-top:20px;margin-left:-10px;text-align:left">
            </v-file-input> 
        </v-row>
        
        <!-- <div style="margin-top:20px">La base de datos permitira contar con información actualizada de los profesores.</div> -->
      </v-card-text>

      <v-divider class="mx-2"></v-divider>

      <!-- <v-card-title>Datos del archivo</v-card-title> -->
      <v-card-text>
        <v-chip-group v-model="selectionASIG" active-class="primary white--text" column>
          <v-chip outlined :color="asigColor" >{{$store.state.database.dbASIG.archivo}}</v-chip>
          <v-chip outlined :color="asigColor" >{{$store.state.database.dbASIG.archivoSize}}</v-chip>
          <v-chip outlined :color="asigColor" > {{$store.state.database.dbASIG.archivoTipo}}</v-chip>
          <v-chip outlined :color="asigColor" >{{$store.state.database.dbASIG.archivoUltimaFecha}}</v-chip>
          <v-chip>Registros: {{$store.state.database.dbASIG.archivoRegistros}}</v-chip>
        </v-chip-group>
      </v-card-text>


      <v-divider class="mt-0 mx-4"></v-divider>

    <v-card-text v-if="profColor=='green' && svColor=='green' && alfColor=='green'" style="background-color:#193051">
      <div style='width:"100%";text-align:right'>
         <v-chip class="mr-2" @click="procesar" color="green" ><v-icon left>mdi-cog</v-icon> Procesar</v-chip>
      <v-chip class="mr-2" @click="cancel" color="#DFA924" ><v-icon left>mdi-backspace</v-icon> Cancelar </v-chip>
      </div>
     
    </v-card-text>
    </v-card>



    

    <v-overlay :value="overlay">
        <v-card class="mx-auto" color="#FBFBFB" dark max-width="490">
          <v-row>
             <v-col cols="12">
              <v-card-text class="headline font-weight-bold" style="text-align: center;color:black">
                Cargando registros ...
              </v-card-text>
            </v-col>
             <v-col cols="12" style="text-align: center;">
              <v-progress-circular color="primary" indeterminate size="64"></v-progress-circular>
            </v-col>
          </v-row>  
        </v-card>
    </v-overlay>

    <v-snackbar v-model="snackbar" :color="colorSnack">
            {{ msgSanck }}
            <v-btn  text @click="snackbar = false">
                Cerrar
            </v-btn>
    </v-snackbar>

  </div>
</template>
<script>export default {
    name: 'administracion',
  components:{
      
    },
    data(){
        return{
          svColor:'gray',
          alfColor:'gray',
          profColor:'gray',
          asigColor:'gray',
          overlay: false,
          loading: false,
          selection: 4,
          selectionALF: 4,
          selectionPROF: 4,
          selectionASIG: 4,
          fixedHeader:true,
          dense:true,
          hayErroresFile:'',
          snackbar:false,
          colorSnack:'',
          msgSanck:'',
          fileRules: [
              value => !value || value.size < 20000000 || 'Archivo < 20 MB!', 
            ],
          fileExcelSV: [],
          fileExcelALF: [],
          fileExcelPROF: [],
          fileExcelASIG: [],
          errorFileBase64:'',
          arraySV:[],
          arrayASIG:[]
        }
    },
    methods:{ 
       submitFileSV() {
            console.log('SV Database...')
            this.overlay=true;

            this.$store.state.database.dbSV.archivo='Nombre';
            this.$store.state.database.dbSV.archivoSize='Tamaño';
            this.$store.state.database.dbSV.archivoTipo='Tipo';
            this.$store.state.database.dbSV.archivoUltimaFecha='Última fecha modificación';
            this.$store.state.database.dbSV.data={};
            this.$store.state.database.dbSV.archivoRegistros=0;

            this.errorFileBase64='';
            this.hayErroresFile=false;

           
           if (this.fileExcelSV==undefined || this.fileExcelSV=='') {
               console.log("No File Chosen");
               this.snackbar = true;
                this.msgSanck="No ha elegido un archivo";
                this.colorSnack='red';
                this.overlay=false;
               return;
               }

            var arrNombre = this.fileExcelSV.name.split('.');
            var ext = arrNombre[arrNombre.length-1];
            console.log(ext); 

            this.$store.state.database.dbSV.archivo=this.fileExcelSV.name;
            this.$store.state.database.dbSV.archivoSize=this.fileExcelSV.size/100;
            this.$store.state.database.dbSV.archivoTipo=this.fileExcelSV.type;
            this.$store.state.database.dbSV.archivoUltimaFecha=this.fileExcelSV.lastModifiedDate;
            
   
            //console.log(this.fileExcel);
            var reader = new FileReader();
            
            reader.readAsBinaryString(this.fileExcelSV);
            reader.onload = () => {
                this.excel64=reader.result;
                 //Read the Excel File data.
              var workbook = XLSX.read(this.excel64, {
                  type: 'binary'
              });
      
              //Fetch the name of First Sheet.
              var firstSheet = workbook.SheetNames[0];
      
              //Read all rows from First Sheet into an JSON array.
              let indice=0;
              this.$store.state.database.dbSV.data = XLSX.utils.sheet_to_row_object_array(workbook.Sheets[firstSheet]);
              this.$store.state.database.dbSV.archivoRegistros = this.$store.state.database.dbSV.data.length;
              this.$store.state.database.dbSV.data.forEach(prepareData);
              let lastIdEmpleado='';
              let lastRFC='';
              let lastNombreEmpleado='';

                function prepareData(arrItem, index, arr) {
                    // arrItem.ID = index;
                    // arr[index] = arrItem ;
                    arrItem.id = index;
                    arr[index] = null ;
                    
                    if(arrItem.hasOwnProperty('__EMPTY_1') && arrItem.hasOwnProperty('__EMPTY_4') && arrItem.hasOwnProperty('__EMPTY_7')
                    && arrItem.hasOwnProperty('__EMPTY_13') && arrItem.hasOwnProperty('__EMPTY_17') && arrItem.hasOwnProperty('__EMPTY_18')
                    && arrItem.hasOwnProperty('__EMPTY_23') && arrItem.hasOwnProperty('__EMPTY_25') && arrItem.hasOwnProperty('__EMPTY_26')
                    && arrItem.hasOwnProperty('__EMPTY_28') && arrItem.hasOwnProperty('__EMPTY_33') && arrItem.hasOwnProperty('__EMPTY_36')){
                        
                        arrItem.id =  index;

                        arrItem['noEmpleado']=lastIdEmpleado;
                        arrItem['rfc']=lastRFC;
                        arrItem['nombreCompleto']=lastNombreEmpleado;
                        arrItem['numPlaza']=arrItem['__EMPTY_1'].trim(); delete arrItem['__EMPTY_1'];
                        arrItem['categoria']=arrItem['__EMPTY_4'].trim(); delete arrItem['__EMPTY_4'];
                        arrItem['descCategoria']=arrItem['__EMPTY_7'].trim(); delete arrItem['__EMPTY_7'];
                        arrItem['codProgramatico']=arrItem['__EMPTY_13'].trim(); delete arrItem['__EMPTY_13'];
                        arrItem['fechaIni']=arrItem['__EMPTY_17'].trim(); delete arrItem['__EMPTY_17'];
                        arrItem['fechaTer']=arrItem['__EMPTY_18'].trim(); delete arrItem['__EMPTY_18'];
                        arrItem['teo']=arrItem['__EMPTY_23'].trim(); delete arrItem['__EMPTY_23'];
                        arrItem['pra']=arrItem['__EMPTY_25'].trim(); delete arrItem['__EMPTY_25'];
                        arrItem['totHoras']=arrItem['__EMPTY_26'].trim(); delete arrItem['__EMPTY_26'];
                        arrItem['sueldo']=arrItem['__EMPTY_28'].trim(); delete arrItem['__EMPTY_28'];
                        arrItem['uniPag']=arrItem['__EMPTY_33'].trim(); delete arrItem['__EMPTY_33'];
                        arrItem['areaAsignatura']=arrItem['__EMPTY_36'].trim(); delete arrItem['__EMPTY_36'];
                        arr[index] = arrItem ;
                    } 
                    else if(arrItem.hasOwnProperty('__EMPTY_4') && arrItem.hasOwnProperty('__EMPTY_7')
                    && arrItem.hasOwnProperty('__EMPTY_13') && arrItem.hasOwnProperty('__EMPTY_17') && arrItem.hasOwnProperty('__EMPTY_18')
                    && arrItem.hasOwnProperty('__EMPTY_23') && arrItem.hasOwnProperty('__EMPTY_25') && arrItem.hasOwnProperty('__EMPTY_26')
                    && arrItem.hasOwnProperty('__EMPTY_28') && arrItem.hasOwnProperty('__EMPTY_33') && arrItem.hasOwnProperty('__EMPTY_36')){
                      
                      arrItem.id = index;
                      arrItem['__EMPTY_1']='';

                      arrItem['noEmpleado']=lastIdEmpleado;
                      arrItem['rfc']=lastRFC;
                      arrItem['nombreCompleto']=lastNombreEmpleado;
                      arrItem['numPlaza']=arrItem['__EMPTY_1'].trim();delete arrItem['__EMPTY_1']
                      arrItem['categoria']=arrItem['__EMPTY_4'].trim(); delete arrItem['__EMPTY_4'];
                      arrItem['descCategoria']=arrItem['__EMPTY_7'].trim(); delete arrItem['__EMPTY_7'];
                      arrItem['codProgramatico']=arrItem['__EMPTY_13'].trim(); delete arrItem['__EMPTY_13'];
                      arrItem['fechaIni']=arrItem['__EMPTY_17'].trim(); delete arrItem['__EMPTY_17'];
                      arrItem['fechaTer']=arrItem['__EMPTY_18'].trim(); delete arrItem['__EMPTY_18'];
                      arrItem['teo']=arrItem['__EMPTY_23'].trim(); delete arrItem['__EMPTY_23'];
                      arrItem['pra']=arrItem['__EMPTY_25'].trim(); delete arrItem['__EMPTY_25'];
                      arrItem['totHoras']=arrItem['__EMPTY_26'].trim(); delete arrItem['__EMPTY_26'];
                      arrItem['sueldo']=arrItem['__EMPTY_28'].trim(); delete arrItem['__EMPTY_28'];
                      arrItem['uniPag']=arrItem['__EMPTY_33'].trim(); delete arrItem['__EMPTY_33'];
                      arrItem['areaAsignatura']=arrItem['__EMPTY_36'].trim(); delete arrItem['__EMPTY_36'];
                      arr[index] = arrItem ;
                    }
                    else if(arrItem.hasOwnProperty('__EMPTY_4') && arrItem.hasOwnProperty('__EMPTY_7')
                    && arrItem.hasOwnProperty('__EMPTY_13') && arrItem.hasOwnProperty('__EMPTY_17')
                    && arrItem.hasOwnProperty('__EMPTY_23') && arrItem.hasOwnProperty('__EMPTY_25') && arrItem.hasOwnProperty('__EMPTY_26')
                    && arrItem.hasOwnProperty('__EMPTY_28') && arrItem.hasOwnProperty('__EMPTY_33') && arrItem.hasOwnProperty('__EMPTY_36')){
                      
                      arrItem.id = index;
                      arrItem['__EMPTY_1']='';
                      arrItem['__EMPTY_18']='';

                      arrItem['noEmpleado']=lastIdEmpleado;
                      arrItem['rfc']=lastRFC;
                      arrItem['nombreCompleto']=lastNombreEmpleado;
                      arrItem['numPlaza']=arrItem['__EMPTY_1'].trim();delete arrItem['__EMPTY_1'];
                      arrItem['categoria']=arrItem['__EMPTY_4'].trim(); delete arrItem['__EMPTY_4'];
                      arrItem['descCategoria']=arrItem['__EMPTY_7'].trim(); delete arrItem['__EMPTY_7'];
                      arrItem['codProgramatico']=arrItem['__EMPTY_13'].trim(); delete arrItem['__EMPTY_13'];
                      arrItem['fechaIni']=arrItem['__EMPTY_17'].trim(); delete arrItem['__EMPTY_17'];
                      arrItem['fechaTer']=arrItem['__EMPTY_18'].trim(); delete arrItem['__EMPTY_18'];
                      arrItem['teo']=arrItem['__EMPTY_23'].trim(); delete arrItem['__EMPTY_23'];
                      arrItem['pra']=arrItem['__EMPTY_25'].trim(); delete arrItem['__EMPTY_25'];
                      arrItem['totHoras']=arrItem['__EMPTY_26'].trim(); delete arrItem['__EMPTY_26'];
                      arrItem['sueldo']=arrItem['__EMPTY_28'].trim(); delete arrItem['__EMPTY_28'];
                      arrItem['uniPag']=arrItem['__EMPTY_33'].trim(); delete arrItem['__EMPTY_33'];
                      arrItem['areaAsignatura']=arrItem['__EMPTY_36'].trim(); delete arrItem['__EMPTY_36'];
                      arr[index] = arrItem ;
                    }
                    else if(arrItem.hasOwnProperty('__EMPTY_1') && arrItem.hasOwnProperty('__EMPTY_4') && arrItem.hasOwnProperty('__EMPTY_9')){


                         if(arrItem.__EMPTY_1 == 'No. Emp'){
                            arrItem.id = index;
                            arr[index] = null ;
                        }else{
                           arrItem.id = index;
                          lastIdEmpleado=arrItem['__EMPTY_1'].trim();
                          lastRFC=arrItem['__EMPTY_4'].trim();
                          lastNombreEmpleado=arrItem['__EMPTY_9'].trim();
                          arr[index] = null ;
                        }
                    }
                  
                }

              this.$store.state.database.dbSV.data = this.$store.state.database.dbSV.data.filter(filterNulls);
                function filterNulls(arrItem, index, arr) { return arrItem != null }
              this.$store.state.database.dbSV.archivoRegistros = this.$store.state.database.dbSV.data.length;



              //this.$store.state.dbCargada="green";
              this.svColor='green';
          
              
                console.log(this.$store.state.database);
                console.log('===========')
                //console.log(this.arraySV)
                this.colorSnack='green';    
                this.snackbar = true;
                this.msgSanck="Base de datos Situación vigente cargada";
                this.overlay=false;
            }


         //
       },
       submitFileALF() {
         console.log('ALF Database...')
            this.overlay=true;

            this.$store.state.database.dbALF.archivo='Nombre';
            this.$store.state.database.dbALF.archivoSize='Tamaño';
            this.$store.state.database.dbALF.archivoTipo='Tipo';
            this.$store.state.database.dbALF.archivoUltimaFecha='Última fecha modificación';
            this.$store.state.database.dbALF.data={};
            this.$store.state.database.dbALF.archivoRegistros=0;

            this.errorFileBase64='';
            this.hayErroresFile=false;

           
           if (this.fileExcelALF==undefined || this.fileExcelALF=='') {
               console.log("No File Chosen");
               this.snackbar = true;
                this.msgSanck="No ha elegido un archivo";
                this.colorSnack='red';
                this.overlay=false;
               return;
               }

            var arrNombre = this.fileExcelALF.name.split('.');
            var ext = arrNombre[arrNombre.length-1];
            console.log(ext); 

            this.$store.state.database.dbALF.archivo=this.fileExcelALF.name;
            this.$store.state.database.dbALF.archivoSize=this.fileExcelALF.size/100;
            this.$store.state.database.dbALF.archivoTipo=this.fileExcelALF.type;
            this.$store.state.database.dbALF.archivoUltimaFecha=this.fileExcelALF.lastModifiedDate;
            
   
            //console.log(this.fileExcel);
            var reader = new FileReader();
            
            reader.readAsBinaryString(this.fileExcelALF);
            reader.onload = () => {
                this.excel64=reader.result;
                 //Read the Excel File data.
              var workbook = XLSX.read(this.excel64, {
                  type: 'binary'
              });
      
              //Fetch the name of First Sheet.
              var firstSheet = workbook.SheetNames[0];
      
              //Read all rows from First Sheet into an JSON array.
              this.$store.state.database.dbALF.data = XLSX.utils.sheet_to_row_object_array(workbook.Sheets[firstSheet]);
              this.$store.state.database.dbALF.archivoRegistros = this.$store.state.database.dbALF.data.length;
              this.$store.state.database.dbALF.data.forEach(prepareData)

              function prepareData(arrItem, index, arr) {
                arrItem.id = index;
                arr[index] = arrItem ;

                arrItem.hasOwnProperty(' aniosadmin') ? arrItem['aniosadmin']=arrItem[' aniosadmin'] : arrItem['aniosadmin']='';
                arrItem.hasOwnProperty(' aniosdoc') ? arrItem['aniosdoc']=arrItem[' aniosdoc'] : arrItem['aniosdoc']='';
                arrItem.hasOwnProperty(' curp') ? arrItem['curp']=arrItem[' curp'] : arrItem['curp']='';
                arrItem.hasOwnProperty(' genero') ? arrItem['genero']=arrItem[' genero'] : arrItem['genero']='';
                arrItem.hasOwnProperty(' horasdoc') ? arrItem['horasdoc']=arrItem[' horasdoc'] : arrItem['horasdoc']='';
                arrItem.hasOwnProperty(' nombre') ? arrItem['nombreCompleto']=arrItem[' nombre'] : arrItem['nombreCompleto']='';
                arrItem.hasOwnProperty(' plaza') ? arrItem['numPlaza']=arrItem[' plaza'] : arrItem['numPlaza']='';
                arrItem.hasOwnProperty(' porcenadmin') ? arrItem['porcenadmin']=arrItem[' porcenadmin'] : arrItem['porcenadmin']='';
                arrItem.hasOwnProperty(' porcendoc') ? arrItem['porcendoc']=arrItem[' porcendoc'] : arrItem['porcendoc']='';
                arrItem.hasOwnProperty(' rfc') ? arrItem['rfc']=arrItem[' rfc'] : arrItem['rfc']='';
                arrItem.hasOwnProperty(' tipoemp') ? arrItem['tipoemp']=arrItem[' tipoemp'] : arrItem['tipoemp']='';
                arrItem.hasOwnProperty('clave categoria') ? arrItem['categoria']=arrItem['clave categoria'] : arrItem['categoria']='';
                arrItem.hasOwnProperty('codigo programatico') ? arrItem['codProgramatico']=arrItem['codigo programatico'] : arrItem['codProgramatico']='';
                arrItem.hasOwnProperty('nombre categoria') ? arrItem['descCategoria']=arrItem['nombre categoria'] : arrItem['descCategoria']='';
                arrItem.hasOwnProperty('numero empleado') ? arrItem['noEmpleado']=arrItem['numero empleado'] : arrItem['noEmpleado']='';
                arrItem.hasOwnProperty('quincena') ? arrItem['quincena']=arrItem['quincena'] : arrItem['quincena']='';

                 delete arrItem[' aniosadmin'];
                 delete arrItem[' aniosdoc'];
                 delete arrItem[' curp'];
                 delete arrItem[' genero'];
                 delete arrItem[' horasdoc'];
                 delete arrItem[' nombre'];
                 delete arrItem[' plaza'];
                 delete arrItem[' porcenadmin'];
                 delete arrItem[' porcendoc'];
                 delete arrItem[' rfc'];
                 delete arrItem[' tipoemp'];
                 delete arrItem['clave categoria'];
                 delete arrItem['codigo programatico'];
                 delete arrItem['nombre categoria'];
                 delete arrItem['numero empleado'];
                 
              }

                //this.$store.state.dbCargada="green";
                this.alfColor='green';
          
              
                console.log(this.$store.state.database);
                this.colorSnack='green';    
                this.snackbar = true;
                this.msgSanck="Base de datos Alfabetico cargada";
                this.overlay=false;
            }


         //
       },
       submitFilePROF() {
         console.log('PROF Database...')
            this.overlay=true;

            this.$store.state.database.dbPROF.archivo='Nombre';
            this.$store.state.database.dbPROF.archivoSize='Tamaño';
            this.$store.state.database.dbPROF.archivoTipo='Tipo';
            this.$store.state.database.dbPROF.archivoUltimaFecha='Última fecha modificación';
            this.$store.state.database.dbPROF.data={};
            this.$store.state.database.dbPROF.archivoRegistros=0;

            this.errorFileBase64='';
            this.hayErroresFile=false;

           
           if (this.fileExcelPROF==undefined || this.fileExcelPROF=='') {
               console.log("No File Chosen");
               this.snackbar = true;
                this.msgSanck="No ha elegido un archivo";
                this.colorSnack='red';
                this.overlay=false;
               return;
               }

            var arrNombre = this.fileExcelPROF.name.split('.');
            var ext = arrNombre[arrNombre.length-1];
            console.log(ext); 

            this.$store.state.database.dbPROF.archivo=this.fileExcelPROF.name;
            this.$store.state.database.dbPROF.archivoSize=this.fileExcelPROF.size/100;
            this.$store.state.database.dbPROF.archivoTipo=this.fileExcelPROF.type;
            this.$store.state.database.dbPROF.archivoUltimaFecha=this.fileExcelPROF.lastModifiedDate;
            
   
            //console.log(this.fileExcel);
            var reader = new FileReader();
            
            reader.readAsBinaryString(this.fileExcelPROF);
            reader.onload = () => {
                this.excel64=reader.result;
                 //Read the Excel File data.
              var workbook = XLSX.read(this.excel64, {
                  type: 'binary'
              });
      
              //Fetch the name of First Sheet.
              var firstSheet = workbook.SheetNames[0];
      
              //Read all rows from First Sheet into an JSON array.
              this.$store.state.database.dbPROF.data = XLSX.utils.sheet_to_row_object_array(workbook.Sheets[firstSheet]);
              this.$store.state.database.dbPROF.archivoRegistros = this.$store.state.database.dbPROF.data.length;
              this.$store.state.database.dbPROF.data.forEach(prepareData)

              function prepareData(arrItem, index, arr) {
                arrItem.id = index;
                arr[index] = arrItem ;

                arrItem.hasOwnProperty('ANTIGÜEDAD LABORAL EN LA ENEO (AÑOS Y MESES)') ? arrItem['antiguedad']=arrItem['ANTIGÜEDAD LABORAL EN LA ENEO (AÑOS Y MESES)'] : arrItem['antiguedad']='';
                arrItem.hasOwnProperty('CURP (MAYÚSCULAS)') ? arrItem['curp']=arrItem['CURP (MAYÚSCULAS)'] : arrItem['curp']='';
                arrItem.hasOwnProperty('DIRECCIÓN DE CORREO ELECTRÓNICO') ? arrItem['email']=arrItem['DIRECCIÓN DE CORREO ELECTRÓNICO'] : arrItem['email']='';
                arrItem.hasOwnProperty('DOMICILIO (CALLE Y NÚMERO EXTERIOR E INTERIOR, COLONIA, ALCALDÍA O MUNICIPIO, ESTADO, CÓDIGO POSTAL)') ? arrItem['domicilio']=arrItem['DOMICILIO (CALLE Y NÚMERO EXTERIOR E INTERIOR, COLONIA, ALCALDÍA O MUNICIPIO, ESTADO, CÓDIGO POSTAL)'] : arrItem['domicilio']='';
                arrItem.hasOwnProperty('EDAD (AÑOS Y MESES)') ? arrItem['edad']=arrItem['EDAD (AÑOS Y MESES)'] : arrItem['edad']='';
                arrItem.hasOwnProperty('ESTADO CIVIL ') ? arrItem['edoCivil']=arrItem['ESTADO CIVIL '] : arrItem['edoCivil']='';
                arrItem.hasOwnProperty('FECHA EN QUE INGRESÓ A LABORAR A LA ENEO ') ? arrItem['fechaIngreso']=arrItem['FECHA EN QUE INGRESÓ A LABORAR A LA ENEO '] : arrItem['fechaIngreso']='';
                arrItem.hasOwnProperty('GÉNERO') ? arrItem['genero']=arrItem['GÉNERO'] : arrItem['genero']='';
                arrItem.hasOwnProperty('NACIONALIDAD') ? arrItem['nacionalidad']=arrItem['NACIONALIDAD'] : arrItem['nacionalidad']='';
                arrItem.hasOwnProperty('NOMBRAMIENTO EN LA ENEO') ? arrItem['nombramientoEneo']=arrItem['NOMBRAMIENTO EN LA ENEO'] : arrItem['nombramientoEneo']='';
                arrItem.hasOwnProperty('NOMBRE COMPLETO (NOMBRE(S), APELLIDO PATERNO Y APELLIDO MATERNO)') ? arrItem['nombreCompleto']=arrItem['NOMBRE COMPLETO (NOMBRE(S), APELLIDO PATERNO Y APELLIDO MATERNO)'] : arrItem['nombreCompleto']='';
                arrItem.hasOwnProperty('NÚMERO DE EMPLEADO UNAM') ? arrItem['noEmpleado']=arrItem['NÚMERO DE EMPLEADO UNAM'] : arrItem['noEmpleado']='';
                arrItem.hasOwnProperty('RFC (MAYÚSCULAS Y CON HOMOCLAVE)') ? arrItem['rfc']=arrItem['RFC (MAYÚSCULAS Y CON HOMOCLAVE)'] : arrItem['rfc']='';
                arrItem.hasOwnProperty('TELÉFONO CELULAR (A 10 DÍGITOS)') ? arrItem['telCelular']=arrItem['TELÉFONO CELULAR (A 10 DÍGITOS)'] : arrItem['telCelular']='';
                arrItem.hasOwnProperty('TELÉFONO DE CASA (A 10 DÍGITOS)') ? arrItem['telCasa']=arrItem['TELÉFONO DE CASA (A 10 DÍGITOS)'] : arrItem['telCasa']='';
                arrItem.hasOwnProperty('TELÉFONO DE TRABAJO (CONMUTADOR Y EXTENSIÓN)') ? arrItem['telTrabajo']=arrItem['TELÉFONO DE TRABAJO (CONMUTADOR Y EXTENSIÓN)'] : arrItem['telTrabajo']='';
                arrItem.hasOwnProperty('TIPO DE CONTRATACIÓN EN LA ENEO') ? arrItem['tipoContratacion']=arrItem['TIPO DE CONTRATACIÓN EN LA ENEO'] : arrItem['tipoContratacion']='';

                 delete arrItem['ANTIGÜEDAD LABORAL EN LA ENEO (AÑOS Y MESES)'];
                 delete arrItem['CURP (MAYÚSCULAS)'];
                 delete arrItem['DIRECCIÓN DE CORREO ELECTRÓNICO'];
                 delete arrItem['DOMICILIO (CALLE Y NÚMERO EXTERIOR E INTERIOR, COLONIA, ALCALDÍA O MUNICIPIO, ESTADO, CÓDIGO POSTAL)'];
                 delete arrItem['EDAD (AÑOS Y MESES)'];
                 delete arrItem['ESTADO CIVIL '];
                 delete arrItem['FECHA EN QUE INGRESÓ A LABORAR A LA ENEO '];
                 delete arrItem['GÉNERO'];
                 delete arrItem['NACIONALIDAD'];
                 delete arrItem['NOMBRAMIENTO EN LA ENEO'];
                 delete arrItem['NOMBRE COMPLETO (NOMBRE(S), APELLIDO PATERNO Y APELLIDO MATERNO)'];
                 delete arrItem['NÚMERO DE EMPLEADO UNAM'];
                 delete arrItem['RFC (MAYÚSCULAS Y CON HOMOCLAVE)'];
                 delete arrItem['TELÉFONO CELULAR (A 10 DÍGITOS)'];
                 delete arrItem['TELÉFONO DE CASA (A 10 DÍGITOS)'];
                 delete arrItem['TELÉFONO DE TRABAJO (CONMUTADOR Y EXTENSIÓN)'];
                 delete arrItem['TIPO DE CONTRATACIÓN EN LA ENEO'];
                 




              }

              //this.$store.state.dbCargada="green";
              this.profColor='green';
              
                console.log(this.$store.state.database);
                this.colorSnack='green';    
                this.snackbar = true;
                this.msgSanck="Base de datos Profesores cargada";
                this.overlay=false;
            }


         //
       },
       submitFileASIG() {
            console.log('ASIG Database...')
            this.overlay=true;

            this.$store.state.database.dbASIG.archivo='Nombre';
            this.$store.state.database.dbASIG.archivoSize='Tamaño';
            this.$store.state.database.dbASIG.archivoTipo='Tipo';
            this.$store.state.database.dbASIG.archivoUltimaFecha='Última fecha modificación';
            this.$store.state.database.dbASIG.data={};
            this.$store.state.database.dbASIG.archivoRegistros=0;

            this.errorFileBase64='';
            this.hayErroresFile=false;

           
           if (this.fileExcelASIG==undefined || this.fileExcelASIG=='') {
               console.log("No File Chosen");
               this.snackbar = true;
                this.msgSanck="No ha elegido un archivo";
                this.colorSnack='red';
                this.overlay=false;
               return;
               }

            var arrNombre = this.fileExcelASIG.name.split('.');
            var ext = arrNombre[arrNombre.length-1];
            console.log(ext); 

            this.$store.state.database.dbASIG.archivo=this.fileExcelASIG.name;
            this.$store.state.database.dbASIG.archivoSize=this.fileExcelASIG.size/100;
            this.$store.state.database.dbASIG.archivoTipo=this.fileExcelASIG.type;
            this.$store.state.database.dbASIG.archivoUltimaFecha=this.fileExcelASIG.lastModifiedDate;
            
   
            //console.log(this.fileExcel);
            var reader = new FileReader();
            
            reader.readAsBinaryString(this.fileExcelASIG);
            reader.onload = () => {
                this.excel64=reader.result;
                 //Read the Excel File data.
              var workbook = XLSX.read(this.excel64, {
                  type: 'binary'
              });
      
              //Fetch the name of First Sheet.
              var firstSheet = workbook.SheetNames[0];
      
              //Read all rows from First Sheet into an JSON array.
              let indice=0;
              this.$store.state.database.dbASIG.data = XLSX.utils.sheet_to_row_object_array(workbook.Sheets[firstSheet]);
              this.$store.state.database.dbASIG.archivoRegistros = this.$store.state.database.dbASIG.data.length;
              this.$store.state.database.dbASIG.data.forEach(prepareData);

                function prepareData(arrItem, index, arr) {
                    // arrItem.ID = index;
                    // arr[index] = arrItem ;

                    arrItem.id = index;
                    arr[index] = null ;
                    
                    if(arrItem.hasOwnProperty('SIP - RPCTSGPP') && arrItem.hasOwnProperty('__EMPTY_1') && arrItem.hasOwnProperty('__EMPTY_5') 
                    && arrItem.hasOwnProperty('__EMPTY_6')  && arrItem.hasOwnProperty('__EMPTY_7') && arrItem.hasOwnProperty('__EMPTY_9')
                    && arrItem.hasOwnProperty('__EMPTY_12') && arrItem.hasOwnProperty('__EMPTY_14') && arrItem.hasOwnProperty('__EMPTY_21')){
                        
                        arrItem.id =  index;

                           if(arrItem.__EMPTY_1 == 'Descripción larga'){
                                arrItem.id = index;
                                arr[index] = null ;
                            }else{

                                arrItem['clave']=arrItem['SIP - RPCTSGPP'].trim(); delete arrItem['SIP - RPCTSGPP'];
                                arrItem['asignatura']=arrItem['__EMPTY_1'].trim(); delete arrItem['__EMPTY_1'];
                                arrItem['curric']=arrItem['__EMPTY_5'].trim(); delete arrItem['__EMPTY_5']; 
                                arrItem['creditos']=arrItem['__EMPTY_6'].trim(); delete arrItem['__EMPTY_6'];
                                arrItem['horasTeoricas']=arrItem['__EMPTY_7'].trim(); delete arrItem['__EMPTY_7'];
                                arrItem['horasPracticas']=arrItem['__EMPTY_9'].trim(); delete arrItem['__EMPTY_9'];
                                arrItem['horasTotales']=arrItem['__EMPTY_12'].trim(); delete arrItem['__EMPTY_12'];
                                arrItem['tipoAsignatura']=arrItem['__EMPTY_14'].trim(); delete arrItem['__EMPTY_14'];
                                arrItem['vigente']=arrItem['__EMPTY_21'].trim(); delete arrItem['__EMPTY_21'];
                                arrItem['funcionAsignada']='';
                                arr[index] = arrItem ;
                            }

                        
                       
                    } 
                    else{

                            
                         if(arrItem.__EMPTY_1 == 'Descripción larga'){
                            arrItem.id = index;
                            arr[index] = null ;
                        }else{
                           arrItem.id = index;
                          arr[index] = null ;
                        }
                    }
                  
                }

              this.$store.state.database.dbASIG.data = this.$store.state.database.dbASIG.data.filter(filterNulls);
                function filterNulls(arrItem, index, arr) { return arrItem != null }
              this.$store.state.database.dbASIG.archivoRegistros = this.$store.state.database.dbASIG.data.length;



              //this.$store.state.dbCargada="green";
              this.asigColor='green';
          
              
                console.log(this.$store.state.database);
                console.log('===========')
                //console.log(this.arraySV)
                this.colorSnack='green';    
                this.snackbar = true;
                this.msgSanck="Base de datos Asignaturas cargada";
                this.overlay=false;
            }


         //
       },
       submitFile() {
            this.overlay=true;

            this.archivo='Nombre';
            this.archivoSize='Tamaño';
            this.archivoTipo='Tipo';
            this.archivoUltimaFecha='Última fecha modificación';
            this.$store.state.dbCargada="";

            this.errorFileBase64='';
            this.hayErroresFile=false;

           
           if (this.fileExcel==undefined || this.fileExcel=='') {
               console.log("No File Chosen");
               this.snackbar = true;
                this.msgSanck="No ha elegido un archivo";
                this.colorSnack='red';
                this.overlay=false;
               return;
               }

            var arrNombre = this.fileExcel.name.split('.');
            var ext = arrNombre[arrNombre.length-1];
            console.log(ext); 

            this.$store.state.archivo=this.fileExcel.name;
            this.$store.state.archivoSize=this.fileExcel.size/100;
            this.$store.state.archivoTipo=this.fileExcel.type;
            this.$store.state.archivoUltimaFecha=this.fileExcel.lastModifiedDate;
   
            //console.log(this.fileExcel);
            var reader = new FileReader();
            
            reader.readAsBinaryString(this.fileExcel);
            reader.onload = () => {
                this.excel64=reader.result;
                 //Read the Excel File data.
              var workbook = XLSX.read(this.excel64, {
                  type: 'binary'
              });
      
              //Fetch the name of First Sheet.
              var firstSheet = workbook.SheetNames[0];
      
              //Read all rows from First Sheet into an JSON array.
              this.$store.state.database = XLSX.utils.sheet_to_row_object_array(workbook.Sheets[firstSheet]);
              this.$store.state.archivoRegistros = this.$store.state.database.length;
              this.$store.state.database.forEach(myFunction)

              function myFunction(arrItem, index, arr) {
                arrItem.ID = index;
                arr[index] = arrItem ;
              }

              this.$store.state.dbCargada="green";
              
                console.log(this.$store.state.database);
                this.colorSnack='green';    
                this.snackbar = true;
                this.msgSanck="Base de datos cargada";
                this.overlay=false;
            }


         //
       },
       cancel(){
        this.svColor='gray';
        this.alfColor='gray';
        this.profColor='gray';

        this.$store.state.database= {
            dbSV: {
                archivo: 'Nombre',
                archivoSize: 'Tamaño',
                archivoTipo: 'Tipo',
                archivoUltimaFecha: 'Última fecha modificación',
                archivoRegistros: 0,
                data: {}
            },
            dbALF: {
                archivo: 'Nombre',
                archivoSize: 'Tamaño',
                archivoTipo: 'Tipo',
                archivoUltimaFecha: 'Última fecha modificación',
                archivoRegistros: 0,
                data: {}
            },
            dbPROF: {
                archivo: 'Nombre',
                archivoSize: 'Tamaño',
                archivoTipo: 'Tipo',
                archivoUltimaFecha: 'Última fecha modificación',
                archivoRegistros: 0,
                data: {}
            }
        };

          this.fileExcelSV= [];
          this.fileExcelALF= [];
          this.fileExcelPROF=[];
          this.fileExcelASIG=[];
       

       },
       procesar(){
         console.log('procesando...');
       },
    }
}
</script>
