<template>
  <div class="nuevasolicitud">


<v-card color="#193051" >
    <v-card-title>
      <div style="color:white">Nueva solicitud de movimiento academico</div>
      <v-spacer></v-spacer>
  
      <v-text-field color="white" clearable background-color="white" rounded
        v-model="$store.state.resultadoSearch"
        append-icon="mdi-magnify"
        label="Busqueda"
        single-line
        hide-details
        @input="writting"
      ></v-text-field>

    </v-card-title>




     <div class="text-center">
      <v-menu  style="" 
        v-model="menu"
        :close-on-content-click="false"
        :nudge-width="200"
        offset-x>
        <template v-slot:activator="{ on, attrs }">
          <v-btn style="margin-top:-25px;height:0px"
            color="indigo"
            dark
            dense
            v-bind="attrs"
            v-on="on">
          </v-btn>
        </template>

        <v-card>
         <div style="padding-top:25px;padding-left: 10px;padding-right: 10px;background:#DFA924">
              <v-data-table  dense :items-per-page="itemsPerPage" height="165" style=""
                item-key="rfc" single-select 
                  hide-default-footer
                  :headers="$store.state.resultadoHeaders"
                  :items="$store.state.resultadosBusqueda"
                  :search="$store.state.resultadoSearch"
                  :v-model="$store.state.resultadoSeleccionado">

                  <template v-slot:item="{ item, isSelected, select }">
                                <tr :class="isSelected?'green':''" @click="toggle(item, isSelected,select,$event)" style="width:100%">
                                    <td>{{item.noEmpleado}}</td>
                                    <td>{{item.nombreCompleto}}</td>
                                    <td>{{item.rfc}}</td>
                                    <td>{{item.curp}}</td>
                                    <td>{{item.email}}</td>
                                    <td>{{item.tipoContratacion}}</td>
                                    <td style="display:none">{{item.domicilio}}</td>
                                    <td style="display:none">{{item.nacionalidad}}</td>
                                    <td style="display:none">{{item.fechaIngreso}}</td>
                                    <td style="display:none">{{item.fechaTer}}</td>
                                    <td style="display:none">{{item.telCasa}}</td>
                                    <td style="display:none">{{item.telCelular}}</td>
                                    <td style="display:none">{{item.telTrabajo}}</td>
                                    <td style="display:none">{{item.antiguedad}}</td>
                                    <td style="display:none">{{item.edad}}</td>
                                    <td style="display:none">{{item.edoCivil}}</td>
                                    <td style="display:none">{{item.genero}}</td>
                                    <td style="display:none">{{item.nombramientoENEO}}</td>
                                    <td style="display:none">{{item.categoria}}</td>
                                    <td style="display:none">{{item.descCategoria}}</td>
                                    <td style="display:none">{{item.codProgramatico}}</td>
                                    <td style="display:none">{{item.areaAsignatura}}</td>
                                    <td style="display:none">{{item.sueldo}}</td>
                                    <td style="display:none">{{item.totHoras}}</td>
                                </tr>
                            </template>
                </v-data-table>
         </div>

         <!-- <div style="left:10px;margin-top:0px;background:#DFA924;width:100%;height:30px">Alfabetico</div> -->
         <!-- Alfabetico -->
         <div style="padding-top:25px;padding-left: 10px;padding-right: 10px;background:#DFA924">
              <v-data-table  dense :items-per-page=5 height="150" style=""
                item-key="noEmpleado" 
                  hide-default-footer
                  :headers="alfabeticoHeaders"
                  :items="alfResult">
                  <template v-slot:item="{ item }">
                                <tr  style="width:100%">
                                    <td>{{item.categoria}}</td>
                                    <td>{{item.descCategoria}}</td>
                                    <td>{{item.tipoemp}}</td>
                                    <td>{{item.codProgramatico}}</td>
                                </tr>
                            </template>
                </v-data-table>
         </div>


          <!-- situacion vigente -->
         <div style="padding-top:25px;padding-left: 10px;padding-right: 10px;background:#DFA924">
              <v-data-table  dense :items-per-page=5 height="150" style=""
                item-key="noEmpleado" 
                  hide-default-footer
                  :headers="svigenteHeaders"
                  :items="svResult">

                  <template v-slot:item="{ item }">
                                <tr  style="width:100%">
                                    <td>{{item.categoria}}</td>
                                    <td>{{item.descCategoria}}</td>
                                    <td>{{item.tipoemp}}</td>
                                    <td>{{item.fechaIni}}</td>
                                    <td>{{item.fechaTer}}</td>
                                    <td>{{item.sueldo}}</td>
                                </tr>
                            </template>
                </v-data-table>
         </div>
        

          <v-card-actions style="background:#DFA924">
            <v-spacer></v-spacer>

           
            <v-btn
              color="#193051"
              text
              @click="menu = false">
              Cerrar
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-menu>
    </div>







</v-card>

<div style="height:10px"></div>


 <v-card>
    <v-tabs grow 
      v-model="tab"
      background-color="#193051"
      centered
      dark
      icons-and-text>
      <v-tabs-slider></v-tabs-slider>


      <v-tab href="#tab-1">
        Personales
        <v-icon>mdi-application-edit</v-icon>
      </v-tab>

      <v-tab href="#tab-2">
        Materias
        <v-icon>mdi-view-dashboard-edit</v-icon>
      </v-tab>

    </v-tabs>

    <v-tabs-items v-model="tab" class="full-height-tab">
      <v-tab-item key="1" value="tab-1">
        <v-card flat >
           <personales/>
        </v-card>
      </v-tab-item>

       <v-tab-item key="2" value="tab-2" class="full-height-tab">
        <v-card flat>
         <materias/>
        </v-card>
      </v-tab-item>


    </v-tabs-items>
  </v-card>


    <v-overlay :value="overlay">
        <v-card class="mx-auto" color="#FBFBFB" dark max-width="490">
          <v-row>
             <v-col cols="12">
              <v-card-text class="headline font-weight-bold" style="text-align: center;color:black">
                Autenticando ...
              </v-card-text>
            </v-col>
             <v-col cols="12" style="text-align: center;">
              <v-progress-circular color="primary" indeterminate size="64"></v-progress-circular>
            </v-col>
          </v-row>  
        </v-card>
      </v-overlay>

    <v-snackbar v-model="snackbar" :color="colorSnack">
            {{ msgSanck }}
            <v-btn  text @click="snackbar = false">
                Cerrar
            </v-btn>
    </v-snackbar>


  </div>
  

</template>

<script>
import Expediente from '../components/Expediente.vue';
import Materias from '../components/Materias.vue';
import Personales from '../components/Personales.vue';
import Seguimiento from '../components/Seguimiento.vue';


export default {
    name: 'nuevasolicitud',
  components:{
    Personales,
    Seguimiento,
    Expediente,
    Materias
      
    },
    data(){
        return{
          selected: [{rfc:''}],
          tab:'',
          itemsPerPage:4,
          overlay:false,
          loading: false,
          snackbar:false,
          colorSnack:'',
          msgSanck:'',
          text:'',
            fav: true,
      menu: false,
      message: false,
      hints: true,
      profResult:[],
      alfResult:[],
      svfResult:[],
      alfabeticoHeaders: [
            { text: 'Clave.', value: 'cveCategoria' },
            { text: 'Categoria', value: 'categoria', },
            { text: 'Tipo emp', value: 'tipoemp' },
            { text: 'Programatico', value: 'codProgramatico' },

        ],
      svigenteHeaders: [
          { text: 'Clave.', value: 'categoria' },
          { text: 'Catecoria', value: 'descCategoria', },
          { text: 'Area asig', value: 'areaAsignatura' },
          { text: 'F Ini', value: 'fechaIni' },
          { text: 'F Termino', value: 'fechaTer' },
          { text: 'Sueldo', value: 'sueldo' },

      ],
        }
    },
    computed: {
        console: () => console,
        window: () => window,
      },
      mounted: function() {
       this.$store.state.solicitudes.selectedSolicitud= {};
      },
      methods:{
        writting(){
          this.$store.state.resultadosBusqueda !='' ? this.menu = true : this.menu=false
          this.busqueda()
        },
        busqueda(){
          //carina
          this.profResult = this.$store.state.database.dbPROF.data.filter(data => 
                              data.curp.toUpperCase().includes(this.$store.state.resultadoSearch.toUpperCase())
                           || data.noEmpleado.toUpperCase().includes(this.$store.state.resultadoSearch.toUpperCase())
                           || data.nombreCompleto.toUpperCase().includes(this.$store.state.resultadoSearch.toUpperCase())
                           || data.rfc.toUpperCase().includes(this.$store.state.resultadoSearch.toUpperCase())
                           );
          console.log("Coincidencias");
          console.log(this.profResult);

          
          

          //---------------------------------------------------------------
          this.$store.state.resultadosBusqueda=[];

          if(this.profResult.length>0){

              this.profResult.forEach(element => {

                  this.$store.state.resultadosBusqueda.push({
                      folioDGP:'F00000001',
                      noEmpleado:element.noEmpleado,
                      nombreCompleto:element.nombreCompleto,
                      rfc:element.rfc,
                      curp:element.curp,
                      email:element.email,
                      tipoContratacion:element.tipoContratacion,
                      domicilio:element.domicilio,
                      antiguedad:element.antiguedad,
                      edoCivil:element.edoCivil,
                      genero:element.genero,
                      nacionalidad:element.nacionalidad,
                      nombramientoEneo:element.nombramientoEneo,
                      telCasa:element.telCasa,
                      telCelular:element.telCelular,
                      telTrabajo:element.telTrabajo,
                  })
              });
          }

          console.log(this.$store.state.resultadosBusqueda);

        },
        toggle(item,isSelected,select,e) {

            select(!isSelected)

            console.log('clicking row');
            this.alfResult=[]
            this.alfResult = this.$store.state.database.dbALF.data.filter(data => 
                              data.noEmpleado.toUpperCase().includes(item.noEmpleado) );
            console.log("=============================================");
            console.log("Alfabetico:");
            console.log(this.alfResult);

            this.svResult=[]
            this.svResult = this.$store.state.database.dbSV.data.filter(data => 
                            data.noEmpleado.toUpperCase().includes(item.noEmpleado) );
            console.log("=============================================");
            console.log("Situacion vigente:");
            console.log(this.svResult);              


            this.$store.state.resultadoSeleccionado= item;
            console.log(item.noEmpleado)
        }
      }
}

</script>

<style lang="scss" scoped>


.v-data-table::v-deep th {
  font-size: 0.7em !important;
}
.v-data-table::v-deep td {
  font-size: 0.7em !important;
}


.introduction {
  font-size: 14px;
  padding: 0.5em;
  margin-bottom: 0.3em;
  color: gold;
  background: #111;
}

.tab-item-wrapper {
  /* vuetify sets the v-tabs__container height to 48px */
  height: 300px;
  overflow-y: auto;
}

.v-tabs-items.full-height-tab  .v-window-item {
  height: calc(100vh - 320px); /* Adjust 270px to suits your needs */
  overflow-y: auto;
}



</style>