<template>
  <div class="solicitudes">


<v-card color="#193051" >
    <v-card-title>
      <div style="color:white">Solicitudes</div>
      <v-spacer></v-spacer>
  
      <v-text-field color="white" clearable background-color="white" rounded
        v-model="$store.state.solicitudes.search"
        append-icon="mdi-magnify"
        label="Busqueda"
        single-line
        hide-details
      ></v-text-field>
    </v-card-title>

    <v-data-table  dense :items-per-page="itemsPerPage" height="190"
     item-key="rfc" single-select 
       :headers="$store.state.solicitudes.headers"
       :items="$store.state.solicitudes.solicitudes"
       :search="$store.state.solicitudes.search"
     :v-model="$store.state.solicitudes.solicitudes.selectedSolicitud"
       :footer-props="{
        showFirstLastPage: true,
           'items-per-page-text':'Solicitudes por página'
      }">

      <template v-slot:item="{ item, isSelected, select }">
                    <tr :class="isSelected?'green':''" @click="toggle(item, isSelected,select,$event)">
      
                        <td>{{item.fecha}}</td>
                        <td>{{item.tipoMovimiento}}</td>
                        <td>{{item.noEmpleado}}</td>
                        <td>{{item.rfc}}</td>
                        <td>{{item.folioDGP}}</td>
                        <td>{{item.estatus}}</td>
                        <td style="">{{item.nombre}}</td>
                                    <td style="">{{item.paterno}}</td>
                                    <td style="">{{item.materno}}</td>
                    </tr>
                </template>

    </v-data-table>
</v-card>

<div style="height:10px"></div>


 <v-card>
    <v-tabs grow f
      v-model="tab"
      background-color="#193051"
      centered
      dark
      icons-and-text>
      <v-tabs-slider></v-tabs-slider>

      <v-tab href="#tab-1">
        Seguimiento
        <v-icon>mdi-source-branch</v-icon>
      </v-tab>



      <v-tab href="#tab-2">
        Personales
        <v-icon>mdi-account-edit</v-icon>
      </v-tab>


      <v-tab href="#tab-3">
        Expediente digital
        <v-icon>mdi-certificate-outline</v-icon>
      </v-tab>
    </v-tabs>

    <v-tabs-items v-model="tab" class="full-height-tab">
      <v-tab-item key="1" value="tab-1">
        <v-card flat >
          <seguimiento/>
        </v-card>
      </v-tab-item>

       <v-tab-item key="2" value="tab-2">
        <v-card flat>
         <personales/>
        </v-card>
      </v-tab-item>

       <v-tab-item key="3" value="tab-3">
        <v-card flat>
         <expediente/>
        </v-card>
      </v-tab-item>
    </v-tabs-items>
  </v-card>


    <v-overlay :value="overlay">
        <v-card class="mx-auto" color="#FBFBFB" dark max-width="490">
          <v-row>
             <v-col cols="12">
              <v-card-text class="headline font-weight-bold" style="text-align: center;color:black">
                Autenticando ...
              </v-card-text>
            </v-col>
             <v-col cols="12" style="text-align: center;">
              <v-progress-circular color="primary" indeterminate size="64"></v-progress-circular>
            </v-col>
          </v-row>  
        </v-card>
      </v-overlay>

    <v-snackbar v-model="snackbar" :color="colorSnack">
            {{ msgSanck }}
            <v-btn  text @click="snackbar = false">
                Cerrar
            </v-btn>
    </v-snackbar>


  </div>
  

</template>

<script>
import Expediente from '../components/Expediente.vue';
import Personales from '../components/Personales.vue';
import Seguimiento from '../components/Seguimiento.vue';


export default {
    name: 'solicitudes',
  components:{
    Personales,
    Seguimiento,
    Expediente
      
    },
    data(){
        return{
          selected: [{rfc:''}],
          tab:'',
          itemsPerPage:5,
          overlay:false,
          loading: false,
          snackbar:false,
          colorSnack:'',
          msgSanck:'',
          text:''
        }
    },
    computed: {
        console: () => console,
        window: () => window,
       
        
      },
      mounted: function() {
         this.$store.state.solicitudes.search='';
      },
      methods:{
          toggle(item,isSelected,select,e) {
            select(!isSelected)

            console.log('clicking row');
             this.$store.state.solicitudes.selectedSolicitud= item;
             console.log(this.$store.state.solicitudes.selectedSolicitud)

          }
      }
}

</script>

<style lang="scss" scoped>


.v-data-table::v-deep th {
  font-size: 0.7em !important;
}
.v-data-table::v-deep td {
  font-size: 0.7em !important;
}


.introduction {
  font-size: 14px;
  padding: 0.5em;
  margin-bottom: 0.3em;
  color: gold;
  background: #111;
}

.tab-item-wrapper {
  /* vuetify sets the v-tabs__container height to 48px */
  height: 300px;
  overflow-y: auto;
}

.v-tabs-items.full-height-tab  .v-window-item {
  height: calc(100vh - 540px); /* Adjust 270px to suits your needs */
  overflow-y: auto;
}



</style>