<template>

<v-container>
 <v-card>
    <!-- <v-card-title class="indigo white--text text-h5">
     {{$store.state.solicitudes.selectedSolicitud.folioDGP+'-'+$store.state.solicitudes.selectedSolicitud.nombre}}
    </v-card-title> -->
    <v-row
      class="pa-4"
      justify="space-between"
    >
      <v-col cols="5">
        <v-treeview
          :active.sync="active"
          :items="items"
          :load-children="fetchUsers"
          :open.sync="open"
          activatable
          color="warning"
          open-on-click
          transition
        >
          <template v-slot:prepend="{ item }">
            <v-icon v-if="!item.children">
              mdi-file-document-multiple
            </v-icon>
          </template>
        </v-treeview>
      </v-col>

      <v-divider vertical></v-divider>

      <v-col
        class="d-flex text-center"
      >
        <v-scroll-y-transition mode="out-in">
          <div
            v-if="!selected"
            class="text-h6 grey--text text--lighten-1 font-weight-light"
            style="align-self: center;"
          >
            Expediente digital
          </div>
          <v-card
            v-else
            :key="selected.id"
            class="pt-6 mx-auto"
            flat
            max-width="400"
          >
            <v-card-text>
              <v-avatar
                v-if="avatar"
                size="88"
              >
                <v-img
                  :src="`https://avataaars.io/${avatar}`"
                  class="mb-6"
                ></v-img>
              </v-avatar>
              <h3 class="text-h5 mb-2">
                {{ selected.name }}
              </h3>
            </v-card-text>
            <v-divider></v-divider>
            <v-row
              class="text-left"
              tag="v-card-text"
            >
             
            </v-row>
          </v-card>
        </v-scroll-y-transition>
      </v-col>
    </v-row>
  </v-card>
   
</v-container>

</template>

<script>

 const avatars = [
    '?accessoriesType=Blank&avatarStyle=Circle&clotheColor=PastelGreen&clotheType=ShirtScoopNeck&eyeType=Wink&eyebrowType=UnibrowNatural&facialHairColor=Black&facialHairType=MoustacheMagnum&hairColor=Platinum&mouthType=Concerned&skinColor=Tanned&topType=Turban',
    '?accessoriesType=Sunglasses&avatarStyle=Circle&clotheColor=Gray02&clotheType=ShirtScoopNeck&eyeType=EyeRoll&eyebrowType=RaisedExcited&facialHairColor=Red&facialHairType=BeardMagestic&hairColor=Red&hatColor=White&mouthType=Twinkle&skinColor=DarkBrown&topType=LongHairBun',
    '?accessoriesType=Prescription02&avatarStyle=Circle&clotheColor=Black&clotheType=ShirtVNeck&eyeType=Surprised&eyebrowType=Angry&facialHairColor=Blonde&facialHairType=Blank&hairColor=Blonde&hatColor=PastelOrange&mouthType=Smile&skinColor=Black&topType=LongHairNotTooLong',
    '?accessoriesType=Round&avatarStyle=Circle&clotheColor=PastelOrange&clotheType=Overall&eyeType=Close&eyebrowType=AngryNatural&facialHairColor=Blonde&facialHairType=Blank&graphicType=Pizza&hairColor=Black&hatColor=PastelBlue&mouthType=Serious&skinColor=Light&topType=LongHairBigHair',
    '?accessoriesType=Kurt&avatarStyle=Circle&clotheColor=Gray01&clotheType=BlazerShirt&eyeType=Surprised&eyebrowType=Default&facialHairColor=Red&facialHairType=Blank&graphicType=Selena&hairColor=Red&hatColor=Blue02&mouthType=Twinkle&skinColor=Pale&topType=LongHairCurly',
  ]

   const pause = ms => new Promise(resolve => setTimeout(resolve, ms))


  export default {
    name: 'Expediente',

    data: () => ({
      active: [],
      avatar: null,
      open: [],
      users: [],
    }),
    computed: {
      items () {
        return [
          {
            name: 'Documentos',
            children: this.users,
          },
        ]
      },
      selected () {
        if (!this.active.length) return undefined

        const id = this.active[0]

        return this.users.find(user => user.id === id)
      },
    },
    watch: {
     selected: 'randomAvatar',
    },
     methods: {
        async fetchUsers (item) {
            // Remove in 6 months and say
            // you've made optimizations! :)
            await pause(500)

            // return fetch('https://jsonplaceholder.typicode.com/users')
            //   .then(res => res.json())
            //   .then(json => (item.children.push(...json)))
            //   .catch(err => console.warn(err))
            item.children.push(  {
                "id": 1,
                "name": "Constancia de Estudios o Titulo Profesional.",
              },
              {
                "id": 2,
                "name": "Identificación oficial (IFE, INE, pasaporte vigente)",
              },
              {
                "id": 3,
                "name": "Comprobante de domicilio, (luz, agua, teléfono)",
              },
              {
                "id": 4,
                "name": "Beneficiarios para póliza de seguro y pago de marcha",
              },
              {
                "id": 5,
                "name": "Fotografía tamaño infantil a color con fondo blanco",
              },
              );

            return item.children;
          },
          randomAvatar () {
            this.avatar = avatars[Math.floor(Math.random() * avatars.length)]
          },
        },



  }
</script>


<style lang="css" scoped>


.v-text-field >>> input {
    font-size: 0.7em;
    text-transform: capitalize;
    height: 10px;
}
.v-text-field >>> label {
    font-size: 0.7em;
}
.v-text-field >>> button {
    font-size: 0.7em;
}




</style>
