<template>
  <div class="materias">


  <v-card :loading="loading" class="mx-auto my-1" >
    <template slot="progress">
      <v-progress-linear color="deep-purple" height="10" indeterminate></v-progress-linear>
    </template>

    
     <v-card-title>
        <v-row>
          <v-col cols="4">
               Pegue los elementos a procesar.
          </v-col>
          <v-col cols="3" style="text-align: right;">
             <v-select :items="almacenes" @change="selectedValue" label="Almacenes" ></v-select>
          </v-col>
          <v-col cols="3" style="text-align: left;">     
             <v-btn color="primary" style="margin-left:0px"
                  @click="calcularPromedios()" 
                  :loading="loading"
                  :disabled="loading">Calcular promedios</v-btn>      
          </v-col>
           <v-col cols="2" style="text-align: left;">
              <v-btn color="primary" style="margin-left:0px"
                  @click="clear()" 
                  :loading="loading"
                  :disabled="loading">Limpiar</v-btn>  
          </v-col>
          
        </v-row>
     </v-card-title>
     <v-divider class="mx-4"></v-divider>
    <v-card-text>
      <v-row align="center" class="mx-0">
      <!-- excel section -->
           <div class="wrapper-jexcel">
              <br />
              <div id="spreadsheet" ref="spreadsheet"></div>
            </div>

      <!-- excel section -->
      </v-row>
     
    </v-card-text>

    <v-divider class="mx-4"></v-divider>

  </v-card>


    <v-overlay :value="overlay">
        <v-card class="mx-auto" color="#FBFBFB" dark max-width="490">
          <v-row>
             <v-col cols="12">
              <v-card-text class="headline font-weight-bold" style="text-align: center;color:black">
                Autenticando ...
              </v-card-text>
            </v-col>
             <v-col cols="12" style="text-align: center;">
              <v-progress-circular color="primary" indeterminate size="64"></v-progress-circular>
            </v-col>
          </v-row>  
        </v-card>
      </v-overlay>

    <v-snackbar v-model="snackbar" :color="colorSnack">
            {{ msgSanck }}
            <v-btn  text @click="snackbar = false">
                Cerrar
            </v-btn>
    </v-snackbar>


  </div>
  

</template>

<script>
import jexcelStyle from "jexcel/dist/jexcel.css"; // eslint-disable-line no-unused-vars
import jexcel from "jexcel"; //

export default {
    name: 'materias',
  components:{
      
    },
    data(){
        return{
          almacenSeleccionado:'',
          almacenes:[],
          loading: false,
          snackbar:false,
          colorSnack:'',
          msgSanck:'',
          absolute: false,
          opacity: 0.46,
          overlay: '',
          zIndex: 5,
          jExcelObjX:{},
          dialogLoading: false,
          proveedor:'',
          departamento:'',
          prenda:'',
          workListCargada:[],
          workListInicial: [["","","","",""],
                    ],
        }
    },
    computed: {
        console: () => console,
        window: () => window,
        proceso(val){
            return 4+val;
        },
        jExcelOptions() {
          return {
            data: this.workListInicial,
            //onpaste: this.pegado,
            //onload: this.cargado,
            updateTable:function(instance, cell, col, row, val, label) {
              /*if(col == 1){
                val = val.replace("ACC.","ACC");
                val = val.replace("CABALLERO","HOMBRE");
                val = val.replace("DAMA","MUJER");
                cell.innerText = val;
              }*/

            },
            columns: [
              { type: "text", title: "PROVEEDOR", width: "120px" },
              { type: "text", title: "DEPARTAMENTO", width: "220px" },
              { type: "text", title: "PRENDAS", width: "220px" },
              { type: "text", title: "CANTIDAD", width: "100px" },
              { type: "text", title: "PROMEDIO", width: "220px" },
            ]
          };
        }
      },
      mounted: function() {
        const jExcelObj = jexcel(this.$refs["spreadsheet"], this.jExcelOptions);
        Object.assign(this, { jExcelObj }); // tucks all methods under jExcelObj object in component instance

        this.getAlmacenes();
      },
      methods:{
        selectedValue(seleccionado){
         this.almacenSeleccionado= seleccionado;
        },
        clear(){
          
          this.workListInicial= [["","","","",""]];
          document.getElementById('spreadsheet').jexcel.setData(this.workListInicial);
        },
        cargado(){
         console.log("finish.....cargado");
        },
        pegado(){
         console.log("finish.....");
         
        },
        insertRowc(filas) {
        console.log(this);
          // this.spreadsheet.insertRow();
          for(var i=0;i < filas;i++){
            this.jExcelObj.insertRow();
          }
        },
        getAlmacenes(){

          this.almacenes= [...new Set(this.$store.state.database.map(item => item.ALMACEN))].sort(); // [ 'A', 'B']
          this.almacenes = this.almacenes.filter(item => item !== undefined && item !== null)
          console.log(this.almacenes);

        },
        searchDB(elemento){

           elemento[1] = elemento[1].replace("ACC.","ACC");
           elemento[1] = elemento[1].replace("CABALLERO","HOMBRE");
           elemento[1] = elemento[1].replace("CABALERO","HOMBRE");
           elemento[1] = elemento[1].replace("DAMA","MUJER");

           /*var arrElemento1= elemento[1].split(' ');
           if(arrElemento1[0]=='HOMBRE')elemento[1]='HOMBRE';
           if(arrElemento1[0]=='MUJER')elemento[1]='MUJER';*/
          // if(arrElemento1[0]=='HOMBRE')elemento[1]='HOMBRE';
          // if(arrElemento1[0]=='HOMBRE')elemento[1]='HOMBRE';
              //  cell.innerText = val;

          var filter = {
            PROVEEDOR: elemento[0],
            DEPTO: elemento[1],
            LINEA: elemento[2],
            ALMACEN: this.almacenSeleccionado
          };
          console.log("filter::::::::::::");
          console.log(filter);
//debugger;
         var arrResultadox=[];
         for(var i=0;i <this.$store.state.database.length;i++ ){
           if(this.$store.state.database[i].ALMACEN==this.almacenSeleccionado){
           if(this.$store.state.database[i].PROVEEDOR==elemento[0]){
             if(this.$store.state.database[i].LINEA==elemento[2]){           

                  var arrLine= elemento[1].split(' ');
                  if(arrLine[0]=='HOMBRE')elemento[1]='HOMBRE';
                  if(arrLine[0]=='MUJER')elemento[1]='MUJER';

//NIÃA
                  if(this.$store.state.database[i].AREA.includes(elemento[1])){
                     arrResultadox.push(this.$store.state.database[i]);
              }
              }
           }
           }

         }

          /*var arrResultadox = this.$store.state.database.filter(function(item) {
            for (var key in filter) {
              if (item[key] === undefined || item[key] != filter[key])
                return false;
            }
            return true;
          });*/

          var importe=0.0;
          var cantidad=0;
          for(var i=0;i<arrResultadox.length;i++){
            try {
              importe+= isNaN(parseFloat(arrResultadox[i].IMPORTE.replace(',','').replace('$',''))) ? 0 : parseFloat(arrResultadox[i].IMPORTE.replace(',','').replace('$',''));
            } catch (error) {
              importe+= isNaN(parseFloat(arrResultadox[i][" IMPORTE "].replace(',','').replace('$',''))) ? 0 : parseFloat(arrResultadox[i][" IMPORTE "].replace(',','').replace('$',''));
            }

            cantidad+= isNaN( parseFloat(arrResultadox[i].CANTIDAD.replace(',','').replace('$',''))) ? 0 : parseFloat(arrResultadox[i].CANTIDAD.replace(',','').replace('$',''));  
           
    
          }

          var promedio=0.0;
          var arrResultado=[];

          if(importe==0.0){
             arrResultado=[parseFloat(cantidad),importe];
          }else{
            promedio = parseFloat(parseFloat(importe)/parseFloat(cantidad)).toFixed(2);
             arrResultado=[parseFloat(cantidad),promedio];
          }

         console.log(arrResultadox);
          return arrResultado;
        },
        calcularPromedios(){

          if(this.$store.state.database.length<=0){
            this.snackbar = true;
                this.msgSanck="La base de datos no ha sido cargada";
                this.colorSnack='red';
                this.overlay=false;
               return;
          }
          //this.loader = 'loading';
          this.loading=true;
          this.overlay = true;
          var myExcel = document.getElementById('spreadsheet').jexcel;
          //yourTableInstance.undo();

          //Se obtiene array que representa el excel cargado
          this.workListCargada= myExcel.getData();

          if(this.workListCargada.length==1 && this.workListCargada[0][0]==""){
            this.snackbar = true;
                this.msgSanck="Cargue elementos para procesarlos";
                this.colorSnack='red';
                this.overlay=false;
                this.loading=false;
               return;
          }

          if(this.almacenSeleccionado==''){
              this.snackbar = true;
                this.msgSanck="Seleccione un almacen";
                this.colorSnack='red';
                this.overlay=false;
                this.loading=false;
               return;
          }

          this.workListCargada.forEach(element => {
             var arrResultado = this.searchDB(element);
              element[3]=arrResultado[0];
              element[4]=arrResultado[1];
          });

          document.getElementById('spreadsheet').jexcel.setData(this.workListCargada);


          this.snackbar=true;
          this.colorSnack='green';
          this.msgSanck='El proceso de cálculo de promedios y cantidades ha terminado';


          this.overlay = false;
          this.loading=false;
        }
      }
}

</script>

<style lang="css" scoped>
.introduction {
  font-size: 14px;
  padding: 0.5em;
  margin-bottom: 0.3em;
  color: gold;
  background: #111;
}




/*
.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
}
.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}
.close-button:hover {
    background-color: darkgray;
}
.show-modal {
    
    visibility: visible;
    opacity: 1;
    
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.hide-modal {
    
    visibility: collapse;
    opacity: 1;
    
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}*/


</style>
