<template>

<v-container>

      <v-row class="mx-auto mt-2" dense>
        <v-col cols="12" md="3" sm="12">
            <v-text-field
              label="No. Empleado"
            dense outlined
              v-model="$store.state.resultadoSeleccionado.noEmpleado"
              clearable
              required
              maxlength="50"
            ></v-text-field>
          </v-col>
          
         <v-col cols="12" md="3" sm="12">
            <v-text-field
              label="RFC"
             dense outlined
              v-model="$store.state.resultadoSeleccionado.rfc"
              clearable
              required
              maxlength="50"
            ></v-text-field>
          </v-col>

           <v-col cols="12" md="3" sm="12">
            <v-text-field
              label="CURP"
              dense outlined
              v-model="$store.state.resultadoSeleccionado.curp"
              clearable
              required
              maxlength="50"
            ></v-text-field>
          </v-col>

          <v-col cols="12" md="3" sm="12">
            <v-text-field class="text-red"
              label="Folio DGP"
             dense  outlined
              v-model="$store.state.resultadoSeleccionado.folioDGP"
              clearable
              required
              maxlength="50"
            ></v-text-field>
          </v-col>
    </v-row>

    <v-row class="mx-auto mt-0" dense style="margin-top:-15px!important">
         <v-col cols="12" md="6" sm="12">
            <v-text-field 
              label="Nombre completo"
            dense  outlined
              v-model="$store.state.resultadoSeleccionado.nombreCompleto"
              clearable
              required
              maxlength="50"
            ></v-text-field>
          </v-col>
    </v-row> 

 



        <v-row class="mx-auto mt-0" dense style="margin-top:-15px!important">
         <v-col cols="12" md="6" sm="12">
            <v-text-field 
              label="Nacionalidad"
              dense  outlined
              v-model="$store.state.resultadoSeleccionado.nacionalidad"
              clearable
              required
              maxlength="50"
            ></v-text-field>
          </v-col>

         <v-col cols="12" md="3" sm="12">
            <v-text-field
              label="Estado civil"
             dense  outlined
              v-model="$store.state.resultadoSeleccionado.edoCivil"
              clearable
              required
              maxlength="50"
            ></v-text-field>
          </v-col>

           <v-col cols="12" md="3" sm="12">
            <v-text-field
              label="Sexo"
            dense  outlined
              v-model="$store.state.resultadoSeleccionado.genero"
              clearable
              required
              maxlength="50"
            ></v-text-field>
          </v-col>


          <!-- <v-spacer></v-spacer> -->

    </v-row> 



        <v-row class="mx-auto mt-0" dense style="margin-top:-15px!important">
         <v-col cols="12" md="6" sm="12">
            <v-text-field 
              label="Domicilio"
              dense 
               outlined
              v-model="$store.state.resultadoSeleccionado.domicilio"
              clearable
              required
              maxlength="50"
            ></v-text-field>
          </v-col>

        

          <!-- <v-spacer></v-spacer> -->

    </v-row> 



        <v-row class="mx-auto mt-0" dense style="margin-top:-20px!important">
         <v-col cols="12" md="3" sm="12">
            <v-text-field 
              label="Tel Particular"
             dense 
              outlined
              v-model="$store.state.resultadoSeleccionado.telCasa"
              clearable
              required
              maxlength="50"
            ></v-text-field>
          </v-col>

         <v-col cols="12" md="3" sm="12">
            <v-text-field
              label="Tel celular"
             dense 
              outlined
              v-model="$store.state.resultadoSeleccionado.telCelular"
              clearable
              required
              maxlength="50"
            ></v-text-field>
          </v-col>

           <v-col cols="12" md="3" sm="12">
            <v-text-field
              label="Email"
              dense 
               outlined
              v-model="$store.state.resultadoSeleccionado.email"
              clearable
              required
              maxlength="50"
            ></v-text-field>
          </v-col>


          <!-- <v-spacer></v-spacer> -->

    </v-row> 

     <v-row class="mx-auto mt-0" dense style="margin-top:-15px!important">
         <v-col cols="12" md="3" sm="12">
            <v-text-field 
              label="Tipo mvto"
             dense filled outlined
              v-model="$store.state.resultadoSeleccionado.tipoMovimiento"
              clearable
              required
              maxlength="50"
            ></v-text-field>
          </v-col>

         <v-col cols="12" md="3" sm="12">
            <v-text-field
              label="Tipo contrato"
              dense filled outlined
              v-model="$store.state.resultadoSeleccionado.tipoContratacion"
              clearable
              required
              maxlength="50"
            ></v-text-field>
          </v-col>

           <v-col cols="12" md="3" sm="12">
            <v-text-field
              label="Fecha inicio"
             dense filled outlined
              v-model="$store.state.resultadoSeleccionado.fechaInicio"
              clearable
              required
              maxlength="50"
            ></v-text-field>
          </v-col>

          <v-col cols="12" md="3" sm="12">
            <v-text-field
              label="Fecha termino"
              dense filled outlined
              v-model="$store.state.resultadoSeleccionado.fechaTermino"
              clearable
              required
              maxlength="50"
            ></v-text-field>
          </v-col>

          <!-- <v-spacer></v-spacer> -->

    </v-row> 

   
</v-container>

</template>

<script>
  export default {
    name: 'Personales',

    data: () => ({
     
    }),
  }
</script>


<style lang="css" scoped>


.v-text-field >>> input {
    font-size: 0.7em;
    text-transform: capitalize;
    height: 10px;
}
.v-text-field >>> label {
    font-size: 0.7em;
}
.v-text-field >>> button {
    font-size: 0.7em;
}

.text-red >>> input {
    color: red !important;
    font-weight: bold;
}




</style>
