<template>

<v-container>
    <div>
 
    <v-stepper v-model="$store.state.solicitudes.selectedSolicitud.step">
      <v-stepper-header>
        <template v-for="n in steps">
          <v-stepper-step
            :key="`${n}-step`"
            :complete="$store.state.solicitudes.selectedSolicitud.step  > n"
            :step="n"
            :editable=false
          >
             {{ $store.state.solicitudes.etapas[n-1] }}
          </v-stepper-step>

          <v-divider
            v-if="n !== steps"
            :key="n"
          ></v-divider>
        </template>
      </v-stepper-header>

      <v-stepper-items>
        <v-stepper-content
          v-for="n in steps"
          :key="`${n}-content`"
          :step="n"
        >
          <v-card
            class="mb-12"
            color="grey lighten-1"
            height="150px">
            Tipo movimiento: {{$store.state.solicitudes.selectedSolicitud.tipoMovimiento}}
          </v-card>

          <!-- <v-btn
            color="primary"
            @click="nextStep(n)"
          >
            Continue
          </v-btn>

          <v-btn text>
            Cancel
          </v-btn> -->
        </v-stepper-content>
      </v-stepper-items>
    </v-stepper>
  </div>
   
</v-container>

</template>

<script>
  export default {
    name: 'Seguimiento',

    data: () => ({
        e1: 1,
        steps: 5,
    }),
    watch: {
      steps (val) {
        if (this.e1 > val) {
          this.e1 = val
        }
      },
    },
     methods: {
      nextStep (n) {
        if (n === this.steps) {
          this.e1 = 1
        } else {
          this.e1 = n + 1
        }
      },
    },



  }
</script>


<style lang="css" scoped>


.v-text-field >>> input {
    font-size: 0.7em;
    text-transform: capitalize;
    height: 10px;
}
.v-text-field >>> label {
    font-size: 0.7em;
}
.v-text-field >>> button {
    font-size: 0.7em;
}




</style>
