
  
<template>
<v-app id="inspirex">  

<template v-if="$store.state.autenticado==true">

    <v-navigation-drawer v-model="drawer" app>
       <v-list-item class="px-4 py-1" style="background-color:#193051" >
          <v-list-item-avatar>
            <v-img style="height:58px" src="https://as1.ftcdn.net/v2/jpg/02/01/33/54/1000_F_201335438_CNpY0iWaXXAV95Gj8BPB0tEJlMcxWeaZ.jpg"></v-img>
          </v-list-item-avatar>
          <v-list-item-title style="color:white">{{$store.state.sesion.rol}}</v-list-item-title>
        </v-list-item>

        <v-divider></v-divider>

        <v-list dense>
         <!-- <v-list-item v-for="item in items" :key="item.title"  @click="redirije(item.url)">
            <v-list-item-icon>
              <v-icon color="green">{{ item.icon }}</v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title>{{ item.title }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>-->


          <v-list-item  @click="redirije('/')">
            <v-list-item-icon>
              <v-icon color="">mdi-home-city</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title>Inicio</v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <v-list-item  @click="redirije('/solicitudes')">
            <v-list-item-icon>
              <v-icon color="">mdi-apps</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title>Solicitudes</v-list-item-title>
            </v-list-item-content>
          </v-list-item>

           <v-list-item  @click="redirije('/nuevasolicitud')">
            <v-list-item-icon>
              <v-icon color="">mdi-file-document</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title>Nueva solicitud</v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <v-list-item  @click="redirije('/administracion')">
            <v-list-item-icon>
              <v-icon :color="$store.state.dbCargada">mdi-database-edit</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title v-bind:style="{ color: $store.state.dbCargada }" >Administración</v-list-item-title>
            </v-list-item-content>
          </v-list-item>

         


        </v-list>
    </v-navigation-drawer>

    <v-app-bar app  dark style="border_top:15px;background-color:#193051">
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      
      <!-- <div style="width:'50px';height:'20px';background-color:'red'">bb</div> -->
      <!-- logo -->
      <div class="d-flex align-center ml-8" style="margin-left:'30px!important'">
        <v-img alt="TotalPlay" class="shrink mr-2" contain min-width="50%"  src="http://suayed.eneo.unam.mx/moodle/inicio/img/logos/logounam.svg" 
        transition="scale-transition" width="40px"/>
      </div>
      <div class="d-flex align-center">  
         <v-img alt="TotalPlay" class="shrink mr-2" contain min-width="50%"  src="http://suayed.eneo.unam.mx/moodle/inicio/img/logos/suayed-eneo.svg" 
        transition="scale-transition" width="110px"/>
      </div>

      <v-spacer />
    
      <!-- DFA924  yellow     #193051  blue-->
      <v-menu offset-y>
        <template v-slot:activator="{ on }">
          <v-btn x-large class="ma-2" elevation="0" v-on="on" color="#193051">
            <v-avatar size="" class="mx-1">
                <v-icon dark style="font-size:40px;color:#DFA924">mdi-account-circle</v-icon>
              </v-avatar>
            <span class="hidden-sm-and-down" style="color:#DFA924;">{{$store.state.sesion.usuario}}</span>
          </v-btn>
        </template>

        <v-list >
          <v-list-item>
            
            <v-btn text @click="cerrarSession">Cerrar sesión</v-btn>
          </v-list-item>
          <v-list-item>
            
            <v-btn text >Versión 1.0.0</v-btn>
          </v-list-item>
        </v-list>
      </v-menu>

    </v-app-bar>

    <v-main  style="width:100%;background-image: url('http://suayed.eneo.unam.mx/moodle/inicio/img/backgrounds/eneo-back12.png');background-position:left;background-repeat:no-repeat;background-size:cover;">
      <v-container fluid>
        <router-view></router-view>
      </v-container>
    </v-main>
    <v-footer
      color="#DFA924"
      app
    >
      <span style="text-align: right;width:100%" class="white--text">&copy; {{ new Date().getFullYear() }}</span>
    </v-footer>
  
</template>
 <template v-else>
      <login></login>
   </template>
</v-app>
</template>

<script>
 import login from '@/views/Login.vue';
 import router from '../src/router'

export default {
  components:{
      login
    },
  name: 'App',
  data: () => ({

     drawer: true,
     items: [
          { title: 'Inicio', icon: 'mdi-home-city',url:'/' },
          { title: 'Base de datos', icon: 'mdi-database-edit' ,url:'/basedatos'},
          { title: 'Teoricos y promedios', icon: 'mdi-file-document' ,url:'/teoricos'},
      ],
      mini: false,
  }),
  methods:{ 
    redirije(path){
      console.log(path);
      router.push(path);
    },
    cerrarSession(){
      this.$store.state.autenticado=false;
      this.$store.state.usuario="";
      this.$store.state.contrasenia="";
    }
  }
};
</script>